<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>F(s) Chatapp</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/7d0e898fba.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/aea9fc94ab.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/chatapp.css">
  </head>
  <body>



    <div class="main-chat-div">

        <div class="chat-div-container">

            <div class="chat-box-div">
                <section class="left-chat-section">
                  <div class="chatapp-name">
                    <h3>F<span>(s) Chatapp</span></h3>
                  </div>
                  <div class="chat-type">
                    <div class="nova">
                      <h5>Nova</h5>
                    </div>
                    <div class="groups">
                      <h4>Groups</h4>
                    </div>
                  </div>
                </section>
                <section class="right-chat-section">
                  <div class="right-chat-top">
                    <div class="status">
                      Status : <span>(Active)</span>
                    </div>
                    <div class="right-chat-top-con">
                      <h6>Nova</h6>
                    </div>
                  </div>

                  <div class="right-chat-mid">

                      <div class="messages-container">


                         
                          <div class="message">
                            <p>Hello everyone this is NOVA , i m currently working on this Chatapp.</p>
                            <div class="user-img-container">
                              <img src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/83219598_1280190498857198_5424995061551071232_o.jpg?_nc_cat=104&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=oj_1g98CsyoAX-paJR7&_nc_ht=scontent.fdel1-2.fna&oh=990ef19ec8babd30d582aaf9ea4d5100&oe=6073DA52" alt="">
                            </div>
                            <div class="time-container">
                              20:05 pm
                            </div>
                          </div>



                      </div>




                  </div>

                  <div class="right-chat-bottom">
                    <form id="message-form" action"/chat">
                    <div class="message-input-container">

                      <input id="txt" type="text" name="" value="" placeholder="Type your message...">

                      <div class="send-btn">
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                      </div>

                    </div>
                    </form>
                  </div>
                </section>
            </div>
        </div>

    </div>























 <%- include('partials/chatapp-footer') %>
