<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faisal's Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/7d0e898fba.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/aea9fc94ab.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">




  </head>
  <body onload="fadein()">

    <nav>
      <div class="nav-container">
        <section class="nav-logo">
          <h2 class="logo-txt">F<span>(s)</span></h2>
        </section>
        <section class="nav-options">
          <div class="">
              <ul class="nav-list">
                <li class="li-items">About</li>
                <li class="li-items">Skills</li>
                <li class="li-items">Projects</li>
                <li class="li-items">Contact</li>
                <li class="li-items">Private</li>
              </ul>
          </div>
        </section>
      </div>
    </nav>

    <section class="top">
      <div class="top-container">
        <div class="top-left">
          <div class="top-left-container">
            <h2>Hello Everyone!</h2>
            <h4>I am</h4>
            <h1>Faisal Ali Khan</h1>
            <div class="button-hire">
              <a href="">Download CV</a>
            </div>
          </div>

        </div>
        <div class="top-right">
          <div class="lines hidden">
           <div class="me-icons"><a href="https://www.linkedin.com/in/faisal-ali-khan-4409631aa/"><i class="fab fa-linkedin"></i></a>_____________________________________</div>
           <div class="me-icons"><a href="https://github.com/faisalalik9"><i class="fab fa-github"></i></a>_____________________________</div>
            <div class="me-icons"><a href=""><i class="fab fa-instagram"></i></a>______________________</div>
             <div class="me-icons"><a href=""><i class="fab fa-facebook-square"></i></a>_____________</div>

          </div>
          <div  class="me-container hidden">
            <img class="me-bg" src="/assets/photo-bg.gif" alt="">
            <img data-tilt data-tilt-glare data-tilt-max-glare="0.8" class="me" src="/assets/me.jpeg" alt="">
          </div>

        </div>

      </div>
    </section>

    <section class="about">
      <div class="about-container">
         <section class="left-about">
          <div class="left-about-container">

            <div class="images-about">
              <img class="about-img1" src="/assets/about1.jpg" alt="">
              <div class="about-text">
                <h2>A<span id="bout">bout</span></h2>
              </div>

            </div>
            <div class="images-about2">
              <img class="about-img" src="/assets/about.jpg" alt="">
              <img class="about-img2" src="/assets/about2.jpg" alt="">
            </div>


          </div>



         </section>

         <section class="right-about">
          <div class="right-about-container">
            <div class="about-features-inside">
            <div class="quote">
              <p>I don't mind being called Nova. If one nickname is going to stick, that's not a bad one!</p>
              <p>~Nova</p>
            </div>
            <div class="about-features">



              <ul>
                <li class="list-it">Education</li>
                <li class="list-it">Tech Stack</li>
                <li class="list-it">Date of Birth</li>
                <li class="list-it">Hometown</li>
                <li class="list-it">Hobbies</li>
              </ul>

              <div class="about-content">
                <div class="education">
                  <div class="ic">
                    <i class="fas fa-university"></i>
                  </div>
                  <div class="">
                    <h3>B.Tech. (ECE)</h3>
                    National Institute of Technology Kurukshetra (2023)
                  </div>
                </div>
                <div class="stack">
                  <div class="ic">
                    <i class="fas fa-layer-group"></i>
                  </div>
                  <h3>MERN</h3>
                </div>
                <div class="dob">
                  <div class="ic">
                    <i class="fas fa-calendar-week"></i>
                  </div>
                  <h3>20 NOV 2001</h3>
                </div>
                <div class="home">
                  <div class="ic">
                    <i class="fas fa-home"></i>
                  </div>
                  <h3>Bareilly, (Uttar Pradesh)</h3>
                </div>
                <div class="hobbies">
                  <div class="ic">
                    <i class="fas fa-tasks"></i>
                  </div>
                  <h3>Exploring stuff, Wanderlust, Playing Guitar</h3>
                </div>
              </div>
            </div>
            </div>
          </div>
         </section>
      </div>
    </section>





<%- include('partials/footer') -%>
