<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faisal's Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/7d0e898fba.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/aea9fc94ab.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">




  </head>
  <body onload="fadein()">

    <nav>
      <div class="nav-container">
        <section class="nav-logo">
          <h2 class="logo-txt">F<span>(s)</span></h2>
        </section>
        <section class="nav-options">
          <div class="">
              <ul class="nav-list">
                <li class="li-items" onclick="scroll_to_about()">About</li>
                <li class="li-items" onclick="scroll_to_skills()">Skills</li>
                <li class="li-items" onclick="scroll_to_projects()">Projects</li>
                <li class="li-items" onclick="scroll_to_contact()">Contact</li>
                <li class="li-items">Private</li>
              </ul>
          </div>
        </section>
        <section class="toggler-nav">
          <div class="toggler-nav-icon">
            <i class="fas fa-bars"></i>
          </div>
        </section>
      </div>
    </nav>

    <section class="top">
      <div class="top-container">
        <div class="top-left">
          <div class="top-left-container">
            <h2>Hello Everyone!</h2>
            <h4>I am</h4>
            <h1>Faisal Ali Khan</h1>
            <div class="button-hire">
              <a href="https://drive.google.com/file/d/1quPDG8R9erIaeq4GGqwAMd-TlN0iH6by/view?usp=sharing">Download CV</a>
            </div>
          </div>

        </div>
        <div class="top-right">
          <div class="lines hidden">
           <div class="me-icons"><a target="_blank" href="https://www.linkedin.com/in/faisal-ali-khan-4409631aa/"><i class="fab fa-linkedin"></i></a>_____________________________________</div>
           <div class="me-icons"><a target="_blank" href="https://github.com/faisalalik9"><i class="fab fa-github"></i></a>_____________________________</div>
            <div class="me-icons"><a target="_blank" href="https://www.instagram.com/faisalalik9/"><i class="fab fa-instagram"></i></a>_____________________</div>
             <div class="me-icons"><a target="_blank" href="https://www.facebook.com/profile.php?id=100005987806100"><i class="fab fa-facebook-square"></i></a>_____________</div>

          </div>
          <div  class="me-container hidden">
            <img class="me-bg" src="/assets/photo-bg.gif" alt="">
            <img data-tilt data-tilt-glare data-tilt-max-glare="0.8" class="me" src="/assets/me.jpeg" alt="">
          </div>

          <div class="phone-icons">
            <div class="me-icons"><a target="_blank" href="https://www.linkedin.com/in/faisal-ali-khan-4409631aa/"><i class="fab fa-linkedin"></i></a></div>
            <div class="me-icons"><a target="_blank" href="https://github.com/faisalalik9"><i class="fab fa-github"></i></a></div>
             <div class="me-icons"><a target="_blank" href="https://www.instagram.com/faisalalik9/"><i class="fab fa-instagram"></i></a></div>
              <div class="me-icons"><a target="_blank" href="https://www.facebook.com/profile.php?id=100005987806100"><i class="fab fa-facebook-square"></i></a></div>
          </div>
        </div>

      </div>
    </section>

    <section class="about" id="about">
      <div class="about-container">
         <section class="left-about">
          <div class="left-about-container">

            <div class="images-about">
              <img class="about-img1" src="/assets/about1.jpg" alt="">
              <div class="about-text">
                <h2 class="heading-h2">A<span class="remaining">bout</span></h2>
              </div>

            </div>
            <div  class="faisal">
              Faisal
            </div>
            <div class="images-about2">
              <img class="about-img" src="/assets/about.jpg" alt="">
              <div class="ali">
                अली
              </div>
              <img class="about-img2" src="/assets/about2.jpg" alt="">
              <div class="khan">
                خان
              </div>
            </div>


          </div>



         </section>
         <div class="images-about">
            <div class="about-text">
              <h2 class="heading-h2">A<span class="remaining">bout</span></h2>
            </div>

                        </div>
         <section class="right-about">


          <div class="right-about-container">
            <div data-tilt data-tilt-axis="y"  class="about-features-inside">
            <div class="quote">
              <p>I don't mind being called Nova. If one nickname is going to stick, that's not a bad one!</p>
              <p>~Nova</p>
            </div>
            <div class="about-features">



              <ul>
                <li class="list-it">E<span class="rem">ducation<span></li>
                <li class="list-it">T<span class="rem">ech Stack</sapn></li>
                <li class="list-it">D<span class="rem">ate of Birth</span></li>
                <li class="list-it">H<span class="rem">ometown</span></li>
                <li class="list-it">H<span class="rem">obbies</span></li>
              </ul>

              <div class="about-content">
                <div class="education">
                  <div class="ic">
                    <i class="fas fa-university"></i>
                  </div>
                  <div class="">
                    <h3>B.Tech. (ECE)</h3>
                    <p class="college">National Institute of Technology Kurukshetra (2023)</p>
                  </div>
                </div>
                <div class="stack">
                  <div class="ic">
                    <i class="fas fa-layer-group"></i>
                  </div>
                  <h3>MERN</h3>
                </div>
                <div class="dob">
                  <div class="ic">
                    <i class="fas fa-calendar-week"></i>
                  </div>
                  <h3>20 NOV 2001</h3>
                </div>
                <div class="home">
                  <div class="ic">
                    <i class="fas fa-home"></i>
                  </div>
                  <h3>Bareilly, (Uttar Pradesh)</h3>
                </div>
                <div class="hobbies">
                  <div class="ic">
                    <i class="fas fa-tasks"></i>
                  </div>
                  <h3>Exploring stuff, Wanderlust, Playing Guitar</h3>
                </div>
              </div>
            </div>
            </div>
          </div>
         </section>
      </div>
    </section>

    <section class="skills" id="skills">
      <div class="skills-container">
        <div class="skills-txt">
          <h2 class="heading-h2">S<span class="remaining">kills</span</h2>
        </div>
        <div class="skills-set">
          <div class="row skill-row">
            <div class="col-lg-3">
              <div class="skill-box skill1">
                <div class="skill-box-con">
                  <div class="skill-rating">
                    95%
                  </div>
                  <div class="skill-name">
                    C++
                  </div>
                </div>

                <section class="toggle-skill-text">
                  <div class="toggle-text">
                    I am pretty skilled in C++. I have completed almost all the topics with good grasp.
                  </div>
                </section>


              </div>
            </div>
            <div class="col-lg-3">
              <div class="skill-box skill2">
                <div class="skill-box-con">
                  <div class="skill-rating">
                    95%
                  </div>
                  <div class="skill-name">
                   Java
                  </div>
                </div>

                <section class="toggle-skill-text">
                  <div class="toggle-text">
                    I am pretty skilled in C++. I have completed almost all the topics with good grasp.
                  </div>
                </section>

              </div>
            </div>
            <div class="col-lg-3">
              <div class="skill-box skill3">
                <div class="skill-box-con">
                  <div class="skill-rating">
                    95%
                  </div>
                  <div class="skill-name">
                    Html
                  </div>
                </div>

                <section class="toggle-skill-text">
                  <div class="toggle-text">
                    I am pretty skilled in C++. I have completed almost all the topics with good grasp.
                  </div>
                </section>

              </div>
            </div>
            <div class="col-lg-3">
              <div class="skill-box skill4">
                <div class="skill-box-con">
                  <div class="skill-rating">
                    95%
                  </div>
                  <div class="skill-name">
                    Css
                  </div>
                </div>

                <section class="toggle-skill-text">
                  <div class="toggle-text">
                    <p>I am pretty skilled in C++. I have completed almost all the topics with good grasp.</p>
                  </div>
                </section>

              </div>
            </div>
          </div>
          <div class="row skill-row">
            <div class="col-lg-3">
              <div class="skill-box skill5">
                <div class="skill-box-con">
                  <div class="skill-rating">
                    95%
                  </div>
                  <div class="skill-name">
                    Vanilla JS
                  </div>
                </div>

                <section class="toggle-skill-text">
                  <div class="toggle-text">
                    I am pretty skilled in C++. I have completed almost all the topics with good grasp.
                  </div>
                </section>


              </div>
            </div>
            <div class="col-lg-3">
              <div class="skill-box skill6">
                <div class="skill-box-con">
                  <div class="skill-rating">
                    95%
                  </div>
                  <div class="skill-name">
                   Node js
                  </div>
                </div>

                <section class="toggle-skill-text">
                  <div class="toggle-text">
                    I am pretty skilled in C++. I have completed almost all the topics with good grasp.
                  </div>
                </section>

              </div>
            </div>
            <div class="col-lg-3">
              <div class="skill-box skill85 skill7">
                <div class="skill-box-con">
                  <div class="skill-rating">
                    85%
                  </div>
                  <div class="skill-name">
                    Mongo db
                  </div>
                </div>

                <section class="toggle-skill-text">
                  <div class="toggle-text">
                    I am pretty skilled in C++. I have completed almost all the topics with good grasp.
                  </div>
                </section>

              </div>
            </div>
            <div class="col-lg-3">
              <div class="skill-box skill85 skill8">
                <div class="skill-box-con">
                  <div class="skill-rating">
                    85%
                  </div>
                  <div class="skill-name">
                    Python
                  </div>
                </div>

                <section class="toggle-skill-text">
                  <div class="toggle-text">
                    <p>I am pretty skilled in C++. I have completed almost all the topics with good grasp.</p>
                  </div>
                </section>

              </div>
            </div>
          </div>

          <div class="row skill-row">
            <div class="col-lg-3">
              <div class="skill-box skill9 skill90p">
                <div class="skill-box-con">
                  <div class="skill-rating">
                    90%
                  </div>
                  <div class="skill-name">
                    ROS
                  </div>
                </div>

                <section class="toggle-skill-text">
                  <div class="toggle-text">
                    I am pretty skilled in C++. I have completed almost all the topics with good grasp.
                  </div>
                </section>


              </div>
            </div>
            <div class="col-lg-3">
              <div class="skill-box skill10 skill60p">
                <div class="skill-box-con">
                  <div class="skill-rating">
                    60%
                  </div>
                  <div class="skill-name">
                   Image Processing
                  </div>
                </div>

                <section class="toggle-skill-text">
                  <div class="toggle-text">
                    I am pretty skilled in C++. I have completed almost all the topics with good grasp.
                  </div>
                </section>

              </div>
            </div>
            <div class="col-lg-3 ">
              <div class="skill-box skill11 skill75p">
                <div class="skill-box-con">
                  <div class="skill-rating">
                    75%
                  </div>
                  <div class="skill-name">
                    Android
                  </div>
                </div>

                <section class="toggle-skill-text">
                  <div class="toggle-text">
                    I am pretty skilled in C++. I have completed almost all the topics with good grasp.
                  </div>
                </section>

              </div>
            </div>
            <div class="col-lg-3">
              <div class="skill-box skill85 skill12">
                <div class="skill-box-con">
                  <div class="skill-rating">
                    85%
                  </div>
                  <div class="skill-name">
                    UI/UX
                  </div>
                </div>

                <section class="toggle-skill-text">
                  <div class="toggle-text">
                    <p>I am pretty skilled in C++. I have completed almost all the topics with good grasp.</p>
                  </div>
                </section>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section  class="projects" id="projects">
      <div class="projects-container">
        <div class="projects-txt">
          <div class="heading-h2-div">
              <h2 class="heading-h2">P<span class="remaining">rojects</span</h2>
          </div>

            <div class="projects-count" data-count="6">6
              <h3 data-count="76">6</h3>
            </div>
        </div>

        <div class="projects-list">

          <div class="project-block">
            <div class="project-img-div">
              <img class="project-img-bg"src="/assets/drone1.jpg" alt="">
              <div class="project-img-top">
                <div class="project-img-top-content">
                  <h3>EYANTRA <img class="eyantra" src="/assets/eyantra.png"></h3>
                  <h3>VITARANA DRONE</h3>
                </div>

              </div>
            </div>
            <div class="hidden-project">


            <div class="project-desc">
              <div >
                <h4>Automated Delivery Drone Project</h4>
                <p class="project-desc-p">Vitarana Drone. Vitarana means distribution in Sanskrit and many extant languages of South Asia.
                  In urban streets, especially South Asian streets, clogged with automobiles, people, animals, markets and numerous other things using typical modes of transport for delivery, such as cars and bikes, is slow and wasteful. </p>
                  <p><a href="">Read more.. </a></p>
              </div>
              <div class="project-achievement">
                <i class="fas fa-star"></i> Secured 34th rank upto Task 4.
              </div>
              <div class="project-achievement">
                <i class="fas fa-star"></i> Got 100/100 marks in Task 3.
              </div>
            </div>
            <div class="project-extra">
                <div class="project-extra-con">
                <div class="video-container">
                  <iframe width="223.600" height="155.200" src="https://www.youtube.com/embed/kOWfkqwFP80" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="video-container">
                  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/13/Gazebo_logo.svg/1024px-Gazebo_logo.svg.png" alt="">
                  <img class="ros" src="/assets/ros.png" alt="">
                </div>
              </div>
                <div class="project-extra-con">
                <div class="video-container">
                  <img class="ubuntu" src="/assets/ubuntu.png" alt="">
                  <img class="python" src="/assets/python.png" alt="">
                </div>
                <div class="video-container">
                  <iframe width="223.600" height="155.200" src="https://www.youtube.com/embed/wWDyVUffIuo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>


          <span class="toggle-project-width"><<</span>
          </div>


        <div class="project2">

          <div class="project-block">
           <div class="project-img-div">
              <img class="project-img-bg"src="/assets/debug.jpg" alt="">
              <div class="project-img-top">
                <div class="project-img-top-content">
                  <h3>DEBUGGERS </h3>

                </div>

          </div>
        </div>

        <div class="hidden-project">


        <div class="project-desc project-desc-p2">
          <div >
            <h4>Dynamic Website</h4>
            <p class="project-desc-p">Debuggers is a totally dynamic website that aims to cater the needs of college students. It is really an
            amazing project. My role in it is of Full-Stack Developer.
          You should definitely check it once as it is has many amazing features.</p>
              <!-- <p><a href="">Read more.. </a></p> -->
          </div>
          <div class="project-achievement">
            <i class="fas fa-link"></i> <a href =""> Visit Website </a>
          </div>
          <!-- <div class="project-achievement">
            <i class="fas fa-star"></i> Got 100/100 marks in Task 3.
          </div> -->
        </div>
        <!-- <div class="project-extra">
            <div class="project-extra-con">
            <div class="video-container">
              <iframe width="223.600" height="155.200" src="https://www.youtube.com/embed/kOWfkqwFP80" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video-container">
              <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/13/Gazebo_logo.svg/1024px-Gazebo_logo.svg.png" alt="">
              <img class="ros" src="/assets/ros.png" alt="">
            </div>
          </div>
            <div class="project-extra-con">
            <div class="video-container">
              <img class="ubuntu" src="/assets/ubuntu.png" alt="">
              <img class="python" src="/assets/python.png" alt="">
            </div>
            <div class="video-container">
              <iframe width="223.600" height="155.200" src="https://www.youtube.com/embed/wWDyVUffIuo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div> -->
      </div>



      <span class="toggle-project-width"><<</span>

      </div>




      <div class="project-block">
       <div class="project-img-div">
          <img class="project-img-bg"src="/assets/docto1.png" alt="">
          <div class="project-img-top">
            <div class="project-img-top-content">
              <h3>DOCTO</h3>

            </div>

      </div>
    </div>

    <div class="hidden-project">


    <div class="project-desc project-desc-p2">
      <div >
        <h4>Dynamic Website</h4>
        <p class="project-desc-p">Docto is a web application that will bring doctors, patients, hospitals and
drug stores at the same place. Anyone who wants to contact or make an
appointment with the Doctor can register on our website for free. Then the person
can make appointment and select either online or offline(walk-in) mode. If the
selected mode is offline, we provide the location and directions to the hospital using
Google APIs.</p>
<p class="project-desc-p"><strong> My role was to work on google assistant API and a bit of front-end.</strong></p>
          <!-- <p><a href="">Read more.. </a></p> -->
      </div>
      <div class="project-achievement">
        <i class="fas fa-link"></i> <a href =""> Visit Website </a>
      </div>
      <!-- <div class="project-achievement">
        <i class="fas fa-star"></i> Got 100/100 marks in Task 3.
      </div> -->
    </div>

  </div>


  <span class="toggle-project-width"><<</span>
  </div>

        </div>

</div>

    </section>





    <!-- contact section -->

    <section class="contact" id="contact">

      <div class="contact-container">
        <div class="contact-txt">
          <h2 class="heading-h2">C<span class="remaining">ontact</span</h2>

        </div>
        <div class="contact-section">
          <section class="left-contact">
            <div class="contact-block-con">
              <div class="get-in-touch-txt">
                <h3>Get in Touch</h3>
              </div>
              <form action="/" method="post">
              <div class="contact-input-name">
                <div class="name-c">
                  Name
                </div>
                <input class="input-name-c" type="text" name="name" value="" placeholder="Enter your Name">
              </div>
              <div class="contact-input-name">
                <div class="name-c">
                  Email
                </div>
                <input required="true" class="input-name-c" type="text" name="email" value="" placeholder="Enter your Email">
              </div>
              <div class="message-c">
                <div class="message-c-txt">
                  Your Message
                </div>
                <textarea required="true" class="textarea-c"name="message" rows="1" placeholder="Type your message" ></textarea>
              </div>
              <div class="submit-c">
                <button type="submit">Submit</button>
              </div>
            </form>
            </div>
          </section>
          <section class="right-contact">
              <div class="right-container-con">

                <div class="right-details" id="small-p">
                  <div class="phone-d">
                    <div class="phone-icon">
                      <a class="call"href="tel:+91-812-613-3852"><i class="fas fa-mobile"></i></a>
                    </div><div class="phone-txt">
                      +91 8126133852
                    </div>
                  </div>
                  <div class="email-d">
                    <div class="email-icon">
                      <a class="call"href="mailto:faisalalik9@gmail.com"><i class="fas fa-envelope"></i></a>
                    </div>
                    <div class="mail-txt">
                      faisalalik9@gmail.com
                    </div>
                  </div>
                </div>
                <div class="right-details location">
                  <div class="phone-d location-d">
                    <div class="phone-icon">
                      <a class="call" href="https://goo.gl/maps/S4fJxvQDg9gkJTGK8"><i class="fas fa-map-marker-alt"></i></a>
                    </div><div class="phone-txt">
                      NIT Kurukshetra, Kurukshetra
                    </div>
                  </div>
                  <!-- <div class="email-d">
                    <div class="email-icon">
                      <i class="fas fa-envelope"></i>
                    </div>
                    <div class="mail-txt">
                      faisalalik9@gmail.com
                    </div>
                  </div> -->
                </div>
                <div class="rate-portfolio">
                  <h4>Rate my Portfolio</h4>

                </div>
                <div class="stars">
                   <div class="selector-star"><i class="far fa-star star-1-b"></i><i class="fas fa-star star-1-a star-after"></i></div>
                   <div class="selector-star"><i class="far fa-star star-2-b"></i><i class="fas fa-star star-2-a star-after"></i></div>
                   <div class="selector-star"><i class="far fa-star star-3-b"></i><i class="fas fa-star star-3-a star-after"></i></div>
                   <div class="selector-star"><i class="far fa-star star-4-b"></i><i class="fas fa-star star-4-a star-after"></i></div>
                   <div class="selector-star"><i class="far fa-star star-5-b"></i><i class="fas fa-star star-5-a star-after"></i></div>
                </div>
                <form action ="/rating" method="post">
                <div class="stars">
                  <input required="true" id="star-value" type="text" name="star" value="" placeholder="">
                </div>
                <div class="stars">
                  <button id="rating-btn" type="submit" >Rate</button>
                </div>
              </form>
              </div>
          </section>
        </div>

      </div>
    </section>


    <footer>

      <div class="footer-container">
      <p>All rights reserved ©</p><p class="dash">||</p>
      <p>Made with <i class="fas fa-heart"></i> by <a target="_blank" href="https://www.linkedin.com/in/faisal-ali-khan-4409631aa/">nova</a></p>
      </div>
    </footer>

<%- include('partials/footer') -%>
