*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav{
  position: sticky;
  top: 0;
}


.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5vw;
  padding: 0.5% 0.5%;
  font-size: 18px;
}


.nav-list{
  width: 0;
  list-style: none;
  display: flex;
  margin: 0;
  justify-content: center;
  overflow: hidden;
}

.logo-txt{

  font-size: 45px;
  font-weight: 700;
  color: linear-gradient(180deg, blue, 10%, transparent);
}

.logo-txt span{
  font-size: 30px;
  font-weight: 400;
}

.li-items{
  margin-left: 5vw;
  padding: 1.5% 0;
  border-bottom: 2px solid white;
  transition: all 300ms linear;
}

.li-items:hover{

  border-bottom: 2px solid black;
}

.nav-logo{
  display: flex;
  align-items: center;
}

.nav-options{
  display: flex;
  align-items: center;
}



.top{
  height: 89.8vh;
  /* background: #94b5c0; */
}

.top-container{
  display: flex;
  height: 100%;
}

.me{
  width: 85%;
  position: absolute;
  top: 5.8vh;
  left: 2.3vw;
  opacity: 0.6;
}
.me-bg{
  width: 100%;
}

.top-left, .top-right{

  display: flex;
  align-items: center;
  justify-content: center;
}
.top-left{
  width: 45%;
}
.top-right{
  width: 55%;
}

 .me-icons{
 text-align: right;
 margin: 8vh 0;

 }

.lines{
display: block;
transform: translateY(-30px);
}

.me-container{
  width: 55%;
  position: relative;
}

.fa-facebook-square, .fa-instagram, .fa-github, .fa-linkedin{
  color: black;
  font-size: 25px;
  padding: 8px 9px;
  border: 2px solid #111111;
   border-radius:0 0 10px 10px;
  transform: translate3d(0px, 33px, 0px);
  transition: all 300ms linear;
}

.fa-facebook-square:hover, .fa-instagram:hover, .fa-github:hover, .fa-linkedin:hover{
  border: 2px solid white;
  background: white;
}

.hidden{
  display: none;
}


.button-hire{
  margin-top: 4vh;
  width: fit-content;
  padding: 3% 10%;
  font-size: 20px;
  color: white;
  background: #ff005c;
  border-radius: 0 0 0 20px;
  transition: all 300ms linear;
}
.button-hire a{
  text-decoration: none;
  color: white;
}

.button-hire:hover{
  border-radius: 0 20px 0 0px;
}

.top-left-container h2{
  font-size: 38px;
}
.top-left-container h4{
  font-size: 28px;
}
.top-left-container h1{
  font-size: 45px;
  overflow: hidden;
  border-right: .15em solid #78c4d4;
  white-space: nowrap;

  letter-spacing: .05em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #78c4d4; }
}


.left-about{
  background: url('/assets/Union.svg');
  background-repeat: no-repeat;
  background-size: 350px 900px;
  background-position-x: 6vw;
background-position-y: -6.5vh;
}
.about{
  height: 89.8vh;
  background: #FCFCFF;
}
.about-text{
  display: flex;
    align-items: center;
  transform: translate3d(-12vw,-9vh,0);
}

.heading-h2{
  font-size: 60px;
}
.remaining{
  font-size: 35px;
  font-weight: 400;
}

.about-container{
  height: 100%;
  display: flex;
}

.images-about, .images-about2{
  display: flex;
  align-items: center;
}

.about-img , .about-img2{
  clip-path: circle();
  width: 10vw;
  transform: translateY(-10vh);

}
.about-img{
  transform: translate3d(-3vw, -7vh,0);
}
.about-img, .about-img1, .about-img2{
  transition: all 300ms linear;
}
.about-img:hover, .about-img1:hover, .about-img2:hover{
  opacity: 0.8;
}

.about-img1{
  clip-path: circle();
  width: 30vw;
  transform: translateX(-7.9vw);
}

.left-about, .right-about{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-about-container{
  text-align: center;
  transform: translateY(-3vh);
}

.about-features{
  display: flex;
  justify-content: space-between;

  margin-top: 5vh;
}


.about-features ul{
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  width: fit-content;
}
.rem{
  font-size: 18px;
  font-weight: 400;
}
.about-features-inside{
  width: 90%;
  background: radial-gradient(100% 216.12% at 0% 9.4%, #FFFFFF 13.55%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 8px 32px 0 rgba( 126, 140, 161, 0.27 );
  backdrop-filter: blur( 4px );
  --webkit-backdrop-filter: blur( 4px );
  border-radius: 20px;

  padding: 8% 4%;
}


.right-about-container{
  width: 100%;
}


.list-it{
  margin-bottom: 1vh;
}

.education, .stack, .dob, .home, .hobbies{
  margin-bottom: 4vh;
  display: flex;
}

.about-content h3{
  font-size: 22px;
}

.ic{
  margin-right: 2vw;
}
.college{
  margin: 0;
  font-size: 18px;
}


.skills{
  min-height: 89.8vh;
}

.skills-container{
  height: 100%;
  padding: 2% 4%;
}

.skills-set{
  padding: 3% 2%;
}

.skill-box{



  align-items: center;
  border-radius: 30px;
  box-shadow: 0 8px 32px 0 rgb(126 140 161 / 27%);


  --initialTextColor: #000;
      --slideTextColor: #FFF;

      --initialBgColor: white;
      --slideBgColor: rgba(165,5,5,0.4);

      color: var(--initialTextColor);

      background-image: linear-gradient(90deg,
          var(--initialBgColor) 0%,
          var(--initialBgColor) 50%,
          var(--slideBgColor) 50%,
          var(--slideBgColor) 100%);
      background-size: 200%;
      transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
        color .2s linear;
      transition-delay: 0.0s, 0.15s;

}

.skill-box:hover{
  color: var(--slideTextColor);
      cursor: pointer;
      background-position: -75% 100%;
}

.skill-rating{
  background: #20002c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #a50505, #20002c);

  color: white;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  width: 65px;
  height: 60px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.4);
  border-radius:50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.skill-name{
  width: 77%;
  font-size: 20px;
  margin-left: 3%;
  padding: 3%;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

.skill-box-con{
  display: flex;
  padding: 5%;
  width: 100%;
  align-items: center;
}

.toggle-skill-text{
  display: none;
  background: white;
  color: black !important;
  border-radius: 0 0 20px 20px;
  transition: all 300ms linear;
}

.hidden-skill-txt{
  display: block;
}
.toggle-text{

  padding: 4%;
}

.skill-row{
  margin-bottom: 5vh;
}

.projects{
  min-height: 89.8vh;
background: linear-gradient(180deg, #46AEF7 -30.85%, rgba(22, 217, 227, 0.45) 55.77%, rgba(48, 199, 236, 0) 100%);
border-radius: 0 320px 0 0 ;
}

.project-block{
  padding: 4% 2%;
  margin: 3% 0;

  display: flex;
  border-radius: 20px;
  position: relative;
}

.projects-container{
  overflow: hidden;
  width: 100%;
  padding: 2% 4%;
}

.projects-list{
  padding: 3% 1%;
  display: flex;
  align-items: center;
}

.project-img-div{
  box-shadow:  0 10px 30px rgba(0,0,0,0.2);
  cursor: pointer;
  width: 27vw;
  height: 40vh;
  overflow: hidden;
  position: relative;
}
.height-min{
  height: fit-content;
}

.project-img-bg{
  width: 100%;
  height: 100%;
}

.project-img-top{
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur( 4px );
--webkit-backdrop-filter: blur( 4px );
display: flex;
justify-content: center;
align-items: center;

}

.project-img-top-content{
  text-align: center;
}

.project-img-top-content h3{
  font-size: 40px;
  color: #02020282;
  font-weight: 700;
}

.eyantra{
  width: 3vw;
}

.project-desc, .project-extra{
  width: 50%;
}

.project-desc{
   padding: 1% 2%;
}

.project-desc-p{
  font-size: 14px;
}
.fa-star,.fa-link{
  margin-right: 1vw;
}
.project-extra-con{
 display: flex;
}
.video-container{
  position: relative;
  width: 50%;

  overflow: hidden;
}

.video-container img{
  margin: 1vh 2vw;
  width: 3vw;
}

.ros{
  width: 6vw !important;
  position: absolute;
  right: -1vw;
  top: 12vh;
}
.ubuntu{
  width: 5vw !important;
}
.python{
  position: absolute;
  right: 1vw;
  top: 12vh;
}

.hidden-project{
  padding-left: 10px;
  opacity: 0.1;
  width: 0;
  max-height: 321.6px;
  display: flex;
  overflow: hidden;
}


.project2{
  display: flex;
  align-items: center;
}

.project-desc-p2{
  width: 90%;
}

.toggle-project-width{
  opacity: 0.1;
  font-size: 30px;
  font-weight: 700;
  right: 25px;
  top: 5px;
  position: absolute;
  display: none;
  cursor: pointer;
  transition: all 300ms linear;
  animation: blink-span .8s step-end infinite;
}

@keyframes blink-span {
  from, to { color: #7868e6 }
  20% {color: #b8b5ff; }
  40% {color: #e4fbff; }
  60% {color: #edeef7; }
  80% {color: transparent; }
}



.contact{
 height: 89.8vh;
 background: url('/assets/vector.svg');
 background-repeat: no-repeat;
 background-position: right;
 background-size: 30vw 40vh;
    background-position-y: 30px;
    background-position-x: 1100px;
}


.contact-section{
  height: 90%;
  padding-top: 2%;
  display: flex;
}

.left-contact, .right-contact{

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.left-contact{
  width: 40%;
}
.right-contact{
  width: 60%;
}
.contact-block-con{
  background: rgba(255,255,255,0.4);
  z-index: 10;
  width: 85%;
  box-shadow: 0 8px 32px 0 rgb(126 140 161 / 27%);
  backdrop-filter: blur( 4px );
--webkit-backdrop-filter: blur( 4px );

  border-radius: 20px;
  padding: 1%;
  height: 80%;
}

.contact-container{
  padding: 0.5% 4%;
  width: 100%;
  height: 100%;
}

.right-container-con{
  background: rgba(245,245,245,0.4);
  backdrop-filter: blur( 4px );
--webkit-backdrop-filter: blur( 4px );
  box-shadow: 0 8px 32px 0 rgb(126 140 161 / 27%);
  border-radius: 20px;
  width: 100%;
  height: 90%;
  transform: translateX(-5vw);
}

.get-in-touch-txt{
display: flex;
padding: 2%;
justify-content: center;
align-items: center;
}
.get-in-touch-txt h3{
  text-align: center;
}

.contact-input-name{
  height: 64.95px;
  margin: 2vh 0;
  padding: 1% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-c{
  font-size: 22px;
  display: flex;
  align-items: center;
}

.input-name-c{
  background: none;
  padding: 4%;
  width: 75%;
  border: none;
  border-bottom: 2px solid black;
  transition: all 300ms linear;
}
.input-name-c:focus{
  outline: none;
  padding-bottom: 2%;
    border-bottom: 2px solid #1687a7;
}

.message-c{
  height: 119.45px;
  margin-top: 2vh;
  padding: 1% 10%;
}

.message-c-txt{
  font-size: 18px;
  margin-bottom: 1vh;
}
.textarea-c{
  background: none;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  margin-top: 1vh;
  padding: 5%;
  transition: all 300ms linear;
}

.textarea-c:focus{
  border-bottom:  2px solid #1687a7;
  padding-bottom: 2%;
}

.submit-c{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3.5vh;
}

.submit-c button{
  border: none;
  color: white;
  font-size: 18px;
  padding: 2% 12%;
  border-radius: 20px;
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

.right-details{
  padding: 4%;
  margin-left: 5vw;
  display: flex;
  justify-content: space-around;
}

.phone-d, .email-d{
  display: flex;


}
.phone-icon, .email-icon{
  color: white;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 32px;
  margin-right: 1vw;
}

.phone-txt, .mail-txt{
  display: flex;
  align-items: center;
  font-size: 18px;
}
.location{
  justify-content: space-between !important;
}
.location-d{
  padding-left: 4.3vw;
}

.rate-portfolio{
  margin-top: 2vh;
}

.rate-portfolio, .stars{
  padding:  2% 4%;
margin-left: 5vw;
display: flex;
justify-content: center;
align-items: center;
}

.stars{
  padding-top: 0 !important;
  font-size: 20px;
}

.fa-star{
  cursor: pointer;
}

.star-after{
  display: none;
  position: absolute;
  right: 0;
  z-index: -10;
}
.selector-star{
  position: relative;
  display: flex;
}
.show{
  display: block !important;
}

#star-value{
  border: none;
  background: none;
  font-size: 35px;
  text-align: center;
  width: 3vw;
  font-weight: 500;
}
#star-value:focus{
  outline: none;
}

#rating-btn{
  border: none;
  background: black;
  color: white;
  padding: 0.5% 4%;
  border-radius: 20px;
}



footer{
  margin-top: 4vh;
  height: 10vh;
  background: black;
  color: white
}

.footer-container{
  padding: 2% 5%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash{
  margin: 0 1vw;
}
footer p{
  margin: 0;
  font-size: 18px;
}

footer a{
  color: white;
}
footer a:hover{
  text-decoration: none;
}

.fa-heart{
  color: red;
  cursor: pointer;
}
