@media only screen and (max-width: 600px){

  .nav-list{
    display: none !important;
  }
  .toggler-nav{
    display: block !important;
  }
  .top-container{
    display: block !important;
  }
  .top{
    height: auto !important;
  }

  .top-left{
    padding-top: 20% !important;
    width: 100% !important;
  }
  .top-right{
    display: block !important;
    position: relative !important;
    width: 100% !important;
    padding-top: 20% !important;
  }
  .me-container{
    left: 50%;
    position: absolute;
  width: 65% !important;
/* margin: 0 16.5% !important; */
  transform: translateX(-50%);
  }
  .me-icons{
    margin: 0 !important;
  }
.fa-facebook-square, .fa-instagram, .fa-github, .fa-linkedin{
  transform: none !important;
}
.phone-icons{
  display: flex !important;
  justify-content: space-around;
  margin: 4vh 0;
  border-top: 2px solid black;
}

  .about-text{
    transform: none !important;
    padding-left: 4%;
  }
  .about-features-inside{
    padding: 4% !important;
  }
  .me{
    top: 3.8vh !important;
  left: 4.5vw !important;
  }
  .top-left-container h2 {
      font-size: 30px !important;
  }
  .top-left-container h4 {
      font-size: 25px !important;
  }
  .top-left-container h1 {

    font-size: 37px !important;
  }
  .lines{
    display: none !important;
  }
  .about-container{
    height: 100%;
    display: block !important;
  }
  .left-about{
    display: none !important;
  }
  .right-about{
    width: 100% !important;
    padding: 10% 0;
  }
  .right-about-container {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
}

#phone-images-about{
  display: block !important;
}
.about{
   height: auto !important;
}
.about-features ul {
    list-style: none !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    width: 55% !important;
}
.about-content{
  padding-left: 5%;
}
.rem{
  font-size: 16px !important;
}
.about-content h3 {
    font-size: 18px !important;
}
.college {
    margin: 0 !important;
    font-size: 16px !important;
}
.skills{
  background-position-x: 110px !important;
background-position-y: 0 !important;
}
.skill-row{
  margin-bottom: 3vh !important;
}
.skill-box{
  margin-bottom: 3vh;
}
.skill4, .skill8{
  margin-bottom: 0 !important;
}
.projects-list{
  display: block !important;
}

.project-img-div {
  width: 100% !important
}
.hidden-project{
  height: 0  ;
  display: block !important;
}
.project-block{
  display: block !important;
}
.project-desc, .project-extra {
    width: 100% !important;
}
.project2{
  display: block !important;
}



.contact{
  height: auto !important;
  background-size: 40vw 40vh !important;
background-position-y: 0px !important;
background-position-x: right !important;
}
.contact-section{
  padding-top: 5% !important;
  display: block !important;
  height: auto !important;
}
.left-contact{
  width: 100% !important;
  padding: 5% 0 !important;
  display: flex;
  justify-content: center !important;
  margin-bottom: 5vh;

}

.right-contact{
  width: 100% !important;
  justify-content: center !important;
}

.right-container-con {
  background: rgba(174,174,174,0.4) !important;
  height: 86vh !important;
  transform: translateY(-25vh) !important;
}
.right-details{
  padding: 4%;
  margin-left: 2vw !important;
  display: block !important;
}
.phone-d{
  margin-bottom: 8%;
}
.location-d{
  padding-left: 0 !important;
}
.rate-portfolio, .stars{
  margin-left: 0 !important;
}
#star-value{
  width: 10vw !important;
}
#small-p{
  margin-top: 20vh;
}

.submit-c button{
  width: 22vw !important;
  padding: 2% !important;
}
#rating-btn{
  width: 18vw !important;
  padding: 1% 2% !important;
}
.name-c{
  font-size: 18px !important;
}
.contact-input-name{
  height: 55.95px !important;
   padding: 1% 4% !important;
}
.message-c{
  padding: 1% 4% !important;
}



.pop-up-block {

    width: 95% !important;
    height: 50% !important;
 }

 .left-pop-up {
     width: 45%!important;
     padding: 3% !important;
   }

   .right-pop-up {

       width: 55% !important;

       padding: 3% !important;
}









}







*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav{
  position: sticky;
  top: 0;
  z-index: 10;
}

.navb{
  background-color: rgba(242,242,242,0.8);
  transition: background-color 400ms linear;
}
.toggler-nav{
  display: none;
}
.toggler-nav-icon{
  font-size:25px;
  cursor: pointer;
}


.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5vw;
  padding: 0.5% 0.5%;
  font-size: 18px;
}


.nav-list{
  width: 0;
  list-style: none;
  display: flex;
  margin: 0;
  justify-content: center;
  overflow: hidden;
}

.logo-txt{

  font-size: 45px;
  font-weight: 700;
  color: linear-gradient(180deg, blue, 10%, transparent);
}

.logo-txt span{
  font-size: 30px;
  font-weight: 400;
}

.li-items{
  cursor: pointer;
  margin-left: 5vw;
  padding: 1.5% 0;
  border-bottom: 2px solid transparent;
  transition: all 300ms linear;
}

.li-items:hover{

  border-bottom: 2px solid black;
}

.nav-logo{
  display: flex;
  align-items: center;
}

.nav-options{
  display: flex;
  align-items: center;
}



.top{
  position: relative;
  height: 89.8vh;
  /* background: #94b5c0; */
}

.top-container{
  display: flex;
  height: 100%;
}

.me{
  width: 85%;
  position: absolute;
  top: 5.8vh;
  left: 2.3vw;
  opacity: 0.6;
}
.me-bg{
  width: 100%;
}

.top-left, .top-right{

  display: flex;
  align-items: center;
  justify-content: center;
}
.top-left{
  width: 45%;
}
.top-right{
  width: 55%;
}

 .me-icons{
 text-align: right;
 margin: 8vh 0;

 }
 .phone-icons{
   display: none;
 }

.lines{
display: block;
transform: translateY(-30px);
}

.me-container{
  width: 55%;
  position: relative;
}

.fa-facebook-square, .fa-instagram, .fa-github, .fa-linkedin{
  color: black;
  font-size: 25px;
  padding: 8px 9px;
  border: 2px solid #111111;
   border-radius:0 0 10px 10px;
  transform: translate3d(0px, 33px, 0px);
  transition: all 300ms linear;
}

.fa-facebook-square:hover{
  box-shadow: 0px 5px 10px rgba(66, 103, 178, 0.9);
  color: #4267B2;
}
.fa-linkedin:hover{
  box-shadow: 0px 5px 10px rgba(40,103,178, 0.7);
  color: #2867B2;
}
.fa-github:hover{
  box-shadow: 0px 5px 10px rgba(0,0,0,0.6);
  color: #101010;
}
.fa-instagram:hover{
  box-shadow: 0px 5px 10px rgba(251, 57, 88, 0.8);
  color: #fb3958;
}

.hidden{
  display: none;
}


.button-hire{
  margin-top: 4vh;
  width: fit-content;
  padding: 3% 10%;
  font-size: 20px;
  color: white;
  background: #ff005c;
  border-radius: 0 0 0 20px;
  transition: all 300ms linear;
}
.button-hire a{
  text-decoration: none;
  color: white;
}

.button-hire:hover{
  border-radius: 0 20px 0 0px;
}

.top-left-container h2{
  font-size: 38px;
}
.top-left-container h4{
  font-size: 28px;
}
.top-left-container h1{
  text-decoration: underline;
  font-size: 45px;
  overflow: hidden;
  border-right: .15em solid #78c4d4;
  white-space: nowrap;

  letter-spacing: .05em;
  animation:
    typing 5.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #78c4d4; }
}


#phone-images-about{
  display: none;
}
.left-about{
  background: url('/assets/Union.svg');
  background-repeat: no-repeat;
  background-size: 350px 900px;
  background-position-x: 6vw;
background-position-y: -6.5vh;
}
.about{
  height: 89.8vh;
  background: #FCFCFF;
}
.about-text{
  display: flex;
    align-items: center;
  transform: translate3d(-12vw,-9vh,0);
}

 .projects-txt{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

.heading-h2{

  font-size: 60px;
}
.remaining{
  font-size: 35px;
  font-weight: 400;
}

.about-container{
  height: 100%;
  display: flex;
}

.images-about, .images-about2{
  display: flex;
  align-items: center;
}
.images-about2{
  position: relative;
}
.about-img , .about-img2{
  clip-path: circle();
  width: 10vw;
  transform: translateY(-10vh);

}
.about-img{
  transform: translate3d(-3vw, -7vh,0);
}
.about-img, .about-img1, .about-img2{
  transition: all 300ms linear;
}


.about-img1{
  clip-path: circle();
  width: 30vw;
  transform: translateX(-7.9vw);
}

.faisal{
  cursor: default;
  z-index: -10;
  font-size: 35px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0vh;
color: white;
width: 14.2vw;
background: rgba(255,255,255,0.4);
position: absolute;
height: 28.2vh;
clip-path: circle();
left: 0px;
backdrop-filter: blur(2px);
transition: all 300ms linear;
}

.ali{
  cursor: default;
  z-index: -10;
  font-size: 35px;
font-weight: 600;
display: flex;
justify-content: center;
align-items: center;
top: 1.8vh;
color: white;
width: 10vw;
background: rgba(255,255,255,0.4);
position: absolute;
height: 22vh;
clip-path: circle();
left: -3vw;
backdrop-filter: blur(2px);
transition: all 300ms linear;
}
.khan{
  cursor: default;
  z-index: -10;
  font-size: 35px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -1.22vh;
  color: white;
  width: 10vw;
  background: rgba(255,255,255,0.4);
  position: absolute;
  height: 22vh;
  clip-path: circle();
  left: 10vw;
  backdrop-filter: blur(2px);
  transition: all 300ms linear;
}


.left-about, .right-about{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-about-container{
  position: relative;
  text-align: center;
  transform: translateY(-3vh);
}

.about-features{
  display: flex;
  justify-content: space-between;

  margin-top: 5vh;
}


.about-features ul{
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  width: fit-content;
}
.rem{
  font-size: 18px;
  font-weight: 400;
}
.about-features-inside{
  width: 90%;
  background: radial-gradient(100% 216.12% at 0% 9.4%, #FFFFFF 13.55%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 8px 32px 0 rgba( 126, 140, 161, 0.27 );
  backdrop-filter: blur( 4px );
  --webkit-backdrop-filter: blur( 4px );
  border-radius: 20px;

  padding: 8% 4%;
}


.right-about-container{
  width: 100%;
}


.list-it{
  margin-bottom: 1vh;
}

.education, .stack, .dob, .home, .hobbies{
  margin-bottom: 4vh;
  display: flex;
}

.about-content h3{
  font-size: 22px;
}

.ic{
  margin-right: 2vw;
}
.college{
  margin: 0;
  font-size: 18px;
}


.skills{
  min-height: 89.8vh;
  background: url("/assets/waves1.svg");
  background-repeat: no-repeat;
  background-position-x: 70vw;
  background-position-y: 5vh;
}

.skills-container{
  height: 100%;
  padding: 2% 4%;
}

.skills-set{
  padding: 3% 2%;
}

.skill-box{



  align-items: center;
  border-radius: 30px;
  box-shadow: 0 8px 32px 0 rgb(126 140 161 / 27%);


  --initialTextColor: #000;
      --slideTextColor: #FFF;

      --initialBgColor: white;
      --slideBgColor: #D6FF79;
      --slideBgColor2: #3f3f3f;
      color: var(--initialTextColor);

      background-image: linear-gradient(90deg,
          var(--initialBgColor) 0%,
          var(--initialBgColor) 50%,
          var(--slideBgColor) 55%,
          var(--slideBgColor2) 100%);
      background-size: 200%;
      transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
        color .2s linear;
      transition-delay: 0.0s, 0.15s;

}

.skill-box:hover{
  color: var(--slideTextColor);
      cursor: pointer;
      background-position: -95% 100%;
}

.skill90p:hover{
  background-position: -90% 100% !important;
}
.skill85:hover{
  background-position: -85% 100% !important;
}
.skill75p:hover{
  background-position: -75% 100% !important;
}
.skill60p:hover{
  background-position: -60% 100% !important;
}


.skill2{
  --slideBgColor: #A09BE7 !important;
}
.skill3{
  --slideBgColor: #DB324D !important;
}
.skill4{
  --slideBgColor: #FF2ECC !important;
}
.skill5{
  --slideBgColor: #F5FBEF !important;
}
.skill6{
  --slideBgColor: #ff005c !important;
}
.skill7{
  --slideBgColor: #00917c !important;
}
.skill8{
  --slideBgColor: #d8c292 !important;
}
.skill9{
  --slideBgColor: #c5d7bd !important;
}
.skill10{
  --slideBgColor: #04F06A !important;
}
.skill11{
  --slideBgColor: #ff75a0 !important;
}
.skill12{
  --slideBgColor: #fb743e !important;
}


.skill-rating{
  background: #20002c;  /* fallback for old browsers */


  color: white;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  width: 65px;
  height: 60px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.4);
  border-radius:50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.skill-name{
  width: 77%;
  font-size: 20px;
  margin-left: 4%;
  padding: 3%;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

.skill-box-con{
  display: flex;
  padding: 5%;
  width: 100%;
  align-items: center;
}

.toggle-skill-text{
  display: none;
  background: white;
  color: black !important;
  border-radius: 0 0 20px 20px;
  transition: all 300ms linear;
}

.hidden-skill-txt{
  display: block;
  background: rgba(245,245,245,0.7);
}
.toggle-text{

  padding: 4%;
}

.skill-row{
  margin-bottom: 5vh;
}

.projects{
  min-height: 89.8vh;
background: linear-gradient(180deg, #46AEF7 -20.85%, rgba(22, 217, 227, 0.45) 40.77%, rgba(48, 199, 236, 0) 100%);

}

.projects-count{
  margin-right: 2.5vw;
  font-size: 40px;

}
.projects-count h3{
    font-size: 0px;

}


.project-block{
  padding: 4% 2%;
  margin: 3% 0;
  padding-right: 1% !important;
  display: flex;
  border-radius: 20px;
  position: relative;
}

.projects-container{
  overflow: hidden;
  width: 100%;
  padding: 2% 4%;
}

.projects-list{
  padding: 0% 1%;
  display: flex;
  align-items: center;
}

.project-img-div{
  box-shadow:  0 10px 30px rgba(0,0,0,0.2);
  cursor: pointer;
  width: 27vw;
  height: 40vh;
  overflow: hidden;
  position: relative;
}
.height-min{
  height: fit-content;
}

.project-img-bg{
  width: 100%;
  height: 100%;
}

.project-img-top{
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur( 4px );
--webkit-backdrop-filter: blur( 4px );
display: flex;
justify-content: center;
align-items: center;

}

.project-img-top-content{
  text-align: center;
}

.project-img-top-content h3{
  font-size: 40px;
  color: #02020282;
  font-weight: 700;
}

.eyantra{
  width: 3vw;
}

.project-desc, .project-extra{
  width: 50%;
}

.project-desc{
   padding: 1% 2%;
}

.project-desc-p{
  font-size: 14px;
}
.fa-star,.fa-link{
  margin-right: 1vw;
}
.project-extra-con{
 display: flex;
}
.video-container{
  position: relative;
  width: 50%;

  overflow: hidden;
}

.video-container img{
  margin: 1vh 2vw;
  width: 3vw;
}

.ros{
  width: 6vw !important;
  position: absolute;
  right: -1vw;
  top: 12vh;
}
.ubuntu{
  width: 5vw !important;
}
.python{
  position: absolute;
  right: 1vw;
  top: 12vh;
}

.hidden-project{
  padding-left: 10px;
  opacity: 0.1;
  width: 0;
  max-height: 321.6px;
  display: flex;
  overflow: hidden;
}




.project2{
  display: flex;
  align-items: center;
}

.project-desc-p2{
  width: 90%;
}

.toggle-project-width{
  opacity: 0.1;
  font-size: 30px;
  font-weight: 700;
  right: 25px;
  top: 5px;
  position: absolute;
  display: none;
  cursor: pointer;
  transition: all 300ms linear;
  animation: blink-span .8s step-end infinite;
}

@keyframes blink-span {
  from, to { color: #7868e6 }
  20% {color: #b8b5ff; }
  40% {color: #e4fbff; }
  60% {color: #edeef7; }
  80% {color: transparent; }
}



.contact{
 height: 89.8vh;
 background: url('/assets/vector.svg');
 background-repeat: no-repeat;
 background-position: right;
 background-size: 30vw 40vh;
    background-position-y: 30px;
    background-position-x: 1100px;
}


.contact-section{
  height: 90%;
  padding-top: 2%;
  display: flex;
}

.left-contact, .right-contact{

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.left-contact{
  width: 40%;
}
.right-contact{
  width: 60%;
}
.contact-block-con{
  background: rgba(255,255,255,0.4);
  z-index: 10;
  width: 85%;
  box-shadow: 0 8px 32px 0 rgb(126 140 161 / 27%);
  backdrop-filter: blur( 4px );
--webkit-backdrop-filter: blur( 4px );

  border-radius: 20px;
  padding: 1%;
  height: 80%;
}

.contact-container{
  padding: 0.5% 4%;
  width: 100%;
  height: 100%;
}

.right-container-con{
  background: rgba(245,245,245,0.4);
  backdrop-filter: blur( 4px );
--webkit-backdrop-filter: blur( 4px );
  box-shadow: 0 8px 32px 0 rgb(126 140 161 / 27%);
  border-radius: 20px;
  width: 100%;
  height: 90%;
  transform: translateX(-5vw);
}

.get-in-touch-txt{
  position: relative;
display: flex;
padding: 2%;
justify-content: center;
align-items: center;
}
.get-in-touch-txt h3{
  text-align: center;
}

.contact-input-name{
  height: 64.95px;
  margin: 2vh 0;
  padding: 1% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-c{
  font-size: 22px;
  display: flex;
  align-items: center;
}

.input-name-c{
  background: none;
  padding: 4%;
  width: 75%;
  border: none;
  border-bottom: 2px solid black;
  transition: all 300ms linear;
}
.input-name-c:focus{
  outline: none;
  padding-bottom: 2%;
    border-bottom: 2px solid #1687a7;
}

.message-c{
  height: 119.45px;
  margin-top: 2vh;
  padding: 1% 10%;
}

.message-c-txt{
  font-size: 18px;
  margin-bottom: 1vh;
}
.textarea-c{
  background: none;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  margin-top: 1vh;
  padding: 5%;
  transition: all 300ms linear;
}

.textarea-c:focus{
  border-bottom:  2px solid #1687a7;
  padding-bottom: 2%;
}

.submit-c{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3.5vh;
}

.submit-c button{
  border: none;
  color: white;
  font-size: 18px;
  padding: 2% 12%;
  border-radius: 20px;
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

.right-details{
  padding: 4%;
  margin-left: 5vw;
  display: flex;
  justify-content: space-around;
}

.phone-d, .email-d{
  display: flex;


}
.call{
  color: white;
}
.call:hover{
  color: white;
}
.phone-icon, .email-icon{
  color: white ;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 32px;
  margin-right: 1vw;
}

.phone-txt, .mail-txt{
  display: flex;
  align-items: center;
  font-size: 18px;
}
.location{
  justify-content: space-between !important;
}
.location-d{
  padding-left: 4.3vw;
}

.rate-portfolio{
  margin-top: 2vh;
}

.rate-portfolio, .stars{
  padding:  2% 4%;
margin-left: 5vw;
display: flex;
justify-content: center;
align-items: center;
}

.stars{
  padding-top: 0 !important;
  font-size: 20px;
}

.fa-star{
  cursor: pointer;
}

.star-after{
  display: none;
  position: absolute;
  right: 0;
  z-index: -10;
}
.selector-star{
  position: relative;
  display: flex;
}
.show{
  display: block !important;
}

#star-value{
  z-index: -10;
  border: none;
  background: none;
  font-size: 35px;
  text-align: center;
  width: 3vw;
  font-weight: 500;
}
#star-value:focus{
  outline: none;
}

#rating-btn{
  border: none;
  background: black;
  color: white;
  padding: 0.5% 4%;
  border-radius: 20px;
}



footer{
  margin-top: 4vh;
  height: 10vh;
  background: black;
  color: white
}

.footer-container{
  padding: 2% 5%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash{
  margin: 0 1vw;
}
footer p{
  margin: 0;
  font-size: 18px;
}

footer a{
  color: white;
}
footer a:hover{
  text-decoration: none;
}

.fa-heart{
  color: red;
  cursor: pointer;
}




.color-toggler{
  top: 10%;
    position: absolute;
    right: 5%;
    font-size: 25px;
    cursor: pointer;
}









/* pop-up css */


.pop-up{
  display: none;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.pop-up-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: rgba(40,40,40,0.6);
}

.pop-up-block{
  border-radius: 30px;
  box-shadow: 0 8px 32px 0 rgb(126 140 161 / 27%);
  width: 50%;
  height: 70%;
  display: flex;
}
.left-pop-up{

  width: 35%;
  padding: 6%;
  background: white;
  border-radius: 30px 0 0 30px;
}
.cross{
  cursor: pointer;
  position: absolute;
  top: 2vh;
  right: 2vw;
  font-size: 22px;
}

.right-pop-up{
  position: relative;
  border-left: 4px solid black;
  border-radius: 0 30px 30px 0;
  width: 65%;
  background: white;
  padding: 5%;
  display: flex;
  justify-content: center;

}
.rate-inside{
  margin-top: 3vh;
}
.average-rating{
  font-size: 16px;
  margin-top: 5vh;
}
.work-in-progress{
  width: 70%
}
.work-in-progress h3{
  text-align: center;
  margin-bottom: 5vh;
}

.work-in-progress-img{
  position: relative;
  overflow: hidden;
  width: 100%%;
}
.work-in-progress-img img{
  width: 100%;
}

.work-icon{
  right: 0;
position: absolute;
top: 0;
height: 100%;
  opacity: 0.8;
  display: none;
}


.pop-up-toggler{
  border: 2px solid rgb(245,245,245);
  box-shadow: 0 10px 32px 3px rgb(0 0 0 / 27%);
z-index: 100;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
bottom: 5vh;
left: 3vw;
height: 50px;
width: 50px;
border-radius: 50%;
background: rgba(242,242,242,1);
color: black;
cursor: pointer;
transition: all 300ms linear;
}
.pop-up-toggler:hover{
  border: 2px solid #ff005c;
  background: #ff005c;
  color: white;
}
